@{
    Layout = null;
    ViewBag.Title = "Investim în profesori";
}
@using System.Web.Optimization
<!doctype html>
<html lang="ro">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/assets/scss")
    @Styles.Render("~/Content/assets/css")
</head>
<body>
    @Html.Partial("_Header")
    <main>
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1>@ViewBag.Title</h1>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/">Acasă</a></li>
                                            <li class="breadcrumb-item"><a href="#">Investim în profesori</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="blog_area single-post-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <div class="single-post">
                            <div class="feature-img">
                                <img class="img-fluid w-100" src="~/Content/assets/img/post/profesori.jpg" alt="Investim în profesori">
                            </div>
                            <div class="blog_details">
                                <h2>Investiție strategică în educație: sprijin pentru cadrele didactice</h2>
                                <p class="excert">19 Februarie, 2025</p>
                                <p>
                                    Într-o lume educațională aflată într-o continuă transformare, formarea continuă a cadrelor didactice devine un element esențial în asigurarea unei educații de calitate, adaptată nevoilor societății contemporane. Evenimentul <strong>„Investim în profesori”</strong>, organizat recent, a reunit peste 300 de participanți – profesori, directori de instituții de învățământ, experți în politici educaționale, reprezentanți ai societății civile și parteneri internaționali din domeniul educației și al tehnologiei.
                                </p>
                                <p>
                                    Evenimentul s-a desfășurat sub deviza „Un profesor bun inspiră viitorul unei națiuni”, reflectând rolul primordial pe care îl joacă educatorii în formarea generațiilor viitoare.Pe parcursul sesiunilor de formare, participanții au avut ocazia să exploreze o varietate de teme esențiale pentru modernizarea practicilor educaționale. Accentul a fost pus pe metodologii moderne de predare centrate pe elev, precum învățarea prin proiecte, învățarea diferențiată și abordările interdisciplinare, care permit adaptarea conținutului la nevoile și interesele fiecărui elev. De asemenea, un rol important l-a jucat utilizarea platformelor digitale și a inteligenței artificiale în procesul de predare, cu scopul de a spori interactivitatea, eficiența și personalizarea actului educațional.

                                    O altă direcție de formare a vizat dezvoltarea inteligenței emoționale și a abilităților de relaționare pozitivă cu elevii, aspecte fundamentale pentru construirea unui climat școlar sigur, empatic și incluziv. Nu în ultimul rând, s-a pus un accent deosebit pe leadershipul educațional, înțeles ca un instrument cheie pentru transformarea școlilor în spații de învățare colaborativă, inovatoare și bine conectate cu nevoile comunității. Aceste direcții formează împreună un cadru solid pentru un învățământ de calitate, adaptat provocărilor și oportunităților secolului XXI.
                                </p>
                                <div class="quote-wrapper">
                                    <div class="quotes">„Un profesor bun inspiră viitorul unei națiuni.”</div>
                                </div>
                                <p>
                                    Inițiativa este parte a strategiei naționale de digitalizare a educației până în 2030 și este susținută de Ministerul Educației al Republicii Moldova, Asociația Națională a Companiilor din Domeniul TIC (ATIC) și Tekwill. Prin această colaborare strategică public-privat, organizatorii își propun să creeze o rețea solidă de profesori-formatori, să îmbunătățească accesul la resurse educaționale digitale și să sprijine inovația pedagogică în toate regiunile țării.
                                </p>
                            </div>
                        </div>

                        <!-- Comentarii -->
                        <div class="comment-form">
                            <h4>Adaugă un comentariu</h4>
                            <form class="form-contact comment_form" action="#" id="commentForm">
                                <div class="row">
                                    <div class="col-12">
                                        <textarea class="form-control w-100" name="comment" id="comment" rows="6" placeholder="Scrie un comentariu..."></textarea>
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control" name="name" type="text" placeholder="Nume">
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control" name="email" type="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group mt-3">
                                    <button type="submit" class="button button-contactForm btn_1 boxed-btn">Trimite comentariul</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Sidebar -->
                    <!-- Sidebar -->
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">

                            <!-- Căutare -->
                            <aside class="single_sidebar_widget search_widget">
                                <form method="get" action="@Url.Action("Cauta", "Blog")">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" name="searchQuery" class="form-control" placeholder="Căutare..."
                                                   value="@ViewBag.SearchQuery" />
                                            <div class="input-group-append">
                                                <button class="btns" type="submit"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Caută</button>
                                </form>
                            </aside>

                            <!-- Categorii -->
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Categorii</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="@Url.Action("Categorie", "Blog", new { categorie = "Domenii tehnice & IT" })" class="d-flex">
                                            <p>Domenii tehnice & IT</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Categorie", "Blog", new { categorie = "Arte & Design" })" class="d-flex">
                                            <p>Arte & Design</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Categorie", "Blog", new { categorie = "Științe exacte" })" class="d-flex">
                                            <p>Științe exacte</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Categorie", "Blog", new { categorie = "Business & Marketing" })" class="d-flex">
                                            <p>Business & Marketing</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Categorie", "Blog", new { categorie = "Dezvoltare personală" })" class="d-flex">
                                            <p>Dezvoltare personală</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Categorie", "Blog", new { categorie = "Cursuri Practice & Hobby-uri" })" class="d-flex">
                                            <p>Cursuri Practice & Hobby-uri</p>
                                        </a>
                                    </li>
                                </ul>

                            </aside>

                            <!-- Evenimente Notabile -->
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Evenimente Notabile</h3>
                                <!-- Exemplu post -->
                                <div class="media post_item">
                                    <img class="test" src="~/Content/assets/img/post/post_1.png" alt="post">
                                    <div class="media-body">
                                        <a href="/Blog/EvNotabil1"><h3 style="color: #2d2d2d;">Recunoaștere Tekwill în fiecare școală</h3></a>
                                        <p>5 Februarie, 2025</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img class="test" src="~/Content/assets/img/post/profesori.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="/Blog/EvNotabil2"><h3 style="color: #2d2d2d;">Investim în profesori</h3></a>
                                        <p>19 Februarie, 2025</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img class="test" src="~/Content/assets/img/post/eradigitala.png" alt="post">
                                    <div class="media-body">
                                        <a href="/Blog/EvNotabil3"><h3 style="color: #2d2d2d;">Copiii în era digitală</h3></a>
                                        <p>18 Decembrie, 2024</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img class="test" src="~/Content/assets/img/post/romold.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="/Blog/EvNotabil4"><h3 style="color: #2d2d2d;">Colaborare România – Moldova</h3></a>
                                        <p>23 Octombrie, 2024</p>
                                    </div>
                                </div>
                            </aside>

                            <!-- Tag Cloud -->
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Tag Clouds</h4>
                                <ul class="list">
                                    <li><a href="#">programare</a></li>
                                    <li><a href="#">design</a></li>
                                    <li><a href="#">marketing</a></li>
                                    <li><a href="#">blogging</a></li>
                                    <li><a href="#">psihologie</a></li>
                                    <li><a href="#">public speaking</a></li>
                                    <li><a href="#">muzică</a></li>
                                    <li><a href="#">fotografie</a></li>
                                </ul>
                            </aside>

                            <!-- Newsletter -->
                            <aside class="single_sidebar_widget newsletter_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Enter email" required>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Subscribe</button>
                                </form>
                            </aside>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @Html.Partial("_Footer")
</body>
</html>
