@{ Layout = null;
    ViewBag.Title = "Index";
}

@using System.Web.Optimization
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="~/Content/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico">
    @Styles.Render("~/Content/assets/scss")
    @Styles.Render("~/Content/assets/css")



</head>
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Content/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    @Html.Partial("_Header")
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Evenimente și Workshopuri</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">Acasă</a></li>
                                            <li class="breadcrumb-item"><a href="#">Evenimente</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="~/Content/assets/img/blog/psih-foto.jpg" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>2</h3>
                                        <p>Martie</p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="~/Blog/Ev7">
                                        <h2 class="blog-head" style="color: #2d2d2d;">Săptămâna Psi 2025</h2>
                                    </a>
                                    <p>
                                        Săptămâna Psi este un eveniment anual dedicat promovării sănătății mentale și înțelegerii psihologiei, organizat în diverse locații din România și Republica Moldova.
                                    </p>
                                </div>
                            </article>
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="~/Content/assets/img/blog/tineri.jpg" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>2</h3>
                                        <p>Martie</p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="~/Blog/Ev6">
                                        <h2 class="blog-head" style="color: #2d2d2d;">Programul Municipal de Dezvoltare Personală a Tinerilor</h2>
                                    </a>
                                    <p>
                                        Programul Municipal de Dezvoltare Personală a Tinerilor este o inițiativă educațională destinată tinerilor din Chișinău, care are ca scop sprijinirea acestora în procesul de autocunoaștere, dezvoltare personală și profesională.
                                    </p>
                                </div>
                            </article>
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="~/Content/assets/img/blog/nutritie.jpg" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>15</h3>
                                        <p>Martie</p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="~/Blog/Ev8">
                                        <h2 class="blog-head" style="color: #2d2d2d;">Forumul de Nutriție și Dietetică</h2>
                                    </a>
                                    <p>
                                        Forumul de Nutriție și Dietetică este un eveniment dedicat promovării unui stil de viață sănătos prin educație nutrițională și strategii de alimentație echilibrată.
                                    </p>
                                </div>
                            </article>
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="~/Content/assets/img/blog/resurseumane.jpg" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>12</h3>
                                        <p>Aprilie</p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="~/Blog/Ev9">
                                        <h2 class="blog-head" style="color: #2d2d2d;">HR Academy: Training of HR Specialists</h2>
                                    </a>
                                    <p>
                                        Un program de formare dedicat specialiștilor în resurse umane, oferind cunoștințe și abilități esențiale pentru gestionarea eficientă a proceselor HR.
                                        Fest
                                    </p>
                                </div>
                            </article>
                            <article class="blog_item">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" src="~/Content/assets/img/blog/digital.jpg" alt="">
                                    <a href="#" class="blog_item_date">
                                        <h3>5-7</h3>
                                        <p>Iunie</p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" href="~/Blog/Ev10">
                                        <h2 class="blog-head" style="color: #2d2d2d;">Moldova Digital Summit 2025</h2>
                                    </a>
                                    <p>
                                        Summitul Inovației și Transformării Digitale conectează lideri din guvern, sectorul privat, educație și cercetare pentru a stimula inovația și transformarea digitală. Oferă acces la lideri de opinie, tehnologii inovatoare și oportunități de investiții, contribuind la conturarea viitorului digital al regiunii.
                                    </p>
                                </div>
                            </article>
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a href="~/Blog/Index" class="page-link" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a href="~/Blog/Evpag2" class="page-link">2</a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="~/Blog/Evpag3" class="page-link">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="~/Blog/Evpag3" class="page-link" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <form action="#">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder='Search Keyword'
                                                   onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'Search Keyword'">
                                            <div class="input-group-append">
                                                <button class="btns" type="button"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">
                                        Search
                                    </button>
                                </form>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Categorii</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Domenii tehnice & IT</p>
                                            <p>(37)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Arte & Design</p>
                                            <p>(10)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Științe exacte</p>
                                            <p>(03)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Business & Marketing</p>
                                            <p>(11)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Dezvoltare personală</p>
                                            <p>(21)</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex">
                                            <p>Cursuri Practice & Hobby-uri</p>
                                            <p>(09)</p>
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Evenimente Notabile</h3>
                                <div class="media post_item">
                                    <img class="test" src="~/Content/assets/img/post/post_1.png" alt="post">
                                    <div class="media-body">
                                        <a href="blog_details.html">
                                            <h3 style="color: #2d2d2d;"> Recunoașterea internațională a proiectului „Tekwill în fiecare școală”</h3>
                                        </a>
                                        <p>5 Februarie, 2025</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img class="test" src="~/Content/assets/img/post/profesori.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog_details.html">
                                            <h3 style="color: #2d2d2d;">Lansarea proiectului-pilot „Investim în profesori”</h3>
                                        </a>
                                        <p>19 februarie, 2025</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img class="test" src="~/Content/assets/img/post/eradigitala.png" alt="post">
                                    <div class="media-body">
                                        <a href="blog_details.html">
                                            <h3 style="color: #2d2d2d;"> Conferința „Copiii în era digitală"</h3>
                                        </a>
                                        <p>18 Decembrie, 2024</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <img class="test" src="~/Content/assets/img/post/romold.jpg" alt="post">
                                    <div class="media-body">
                                        <a href="blog_details.html">
                                            <h3 style="color: #2d2d2d;">Colaborare educațională între România și Republica Moldova</h3>
                                        </a>
                                        <p>23 octombrie, 2024</p>
                                    </div>
                                </div>
                            </aside>
                            <aside class="single_sidebar_widget tag_cloud_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Tag Clouds</h4>
                                <ul class="list">
                                    <li>
                                        <a href="#">programare</a>
                                    </li>
                                    <li>
                                        <a href="#">design</a>
                                    </li>
                                    <li>
                                        <a href="#">marketing</a>
                                    </li>
                                    <li>
                                        <a href="#">blogging</a>
                                    </li>
                                    <li>
                                        <a href="#">psihologie</a>
                                    </li>
                                    <li>
                                        <a href="#">public speaking</a>
                                    </li>
                                    <li>
                                        <a href="#">muzică</a>
                                    </li>
                                    <li>
                                        <a href="#">fotografie</a>
                                    </li>
                                </ul>
                            </aside>

                            <aside class="single_sidebar_widget instagram_feeds">
                                <h4 class="widget_title" style="color: #2d2d2d;">Instagram Feeds</h4>
                                <ul class="instagram_row flex-wrap">
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="~/Content/assets/img/post/post_5.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="~/Content/assets/img/post/post_6.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="~/Content/assets/img/post/post_7.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="~/Content/assets/img/post/post_8.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="~/Content/assets/img/post/post_9.png" alt="">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img class="img-fluid" src="assets/img/post/post_10.png" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="single_sidebar_widget newsletter_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
                                <form action="#">
                                    <div class="form-group">
                                        <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                               onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                                    </div>
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                            type="submit">
                                        Subscribe
                                    </button>
                                </form>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog Area End -->
    </main>
    @Html.Partial("_Footer")

    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    <!-- JS here -->

    <script src="~/Content/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/animated.headline.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="~/Content/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <script src="~/Content/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Content/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="~/Content/assets/js/contact.js"></script>
    <script src="~/Content/assets/js/jquery.form.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/mail-script.js"></script>
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

    @Scripts.Render("~/Scripts/js")

</body>
</html>
