@{
    Layout = null;
    ViewBag.Title = "Evenimente și Workshopuri";
}
@using System.Web.Optimization

<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="~/Content/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico">

    @Styles.Render("~/Content/assets/scss")
    @Styles.Render("~/Content/assets/css")
</head>

<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Content/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Header")

<main>
    <!-- Slider -->
    <section class="slider-area slider-area2">
        <div class="slider-active">
            <div class="single-slider slider-height2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-12">
                            <div class="hero__caption hero__caption2">
                                <h1 data-animation="bounceIn" data-delay="0.2s">Evenimente și Workshopuri</h1>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="~/">Acasă</a></li>
                                        <li class="breadcrumb-item"><a href="#">Evenimente</a></li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Lista Evenimente -->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">

                        <!-- Ev7 -->
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/Content/assets/img/blog/psih-foto.jpg" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>01</h3>
                                    <p>Iunie</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="~/Blog/Ev7">
                                    <h2 class="blog-head">Săptămâna Psi 2025</h2>
                                </a>
                                <p>O serie de ateliere și conferințe dedicate sănătății mintale și dezvoltării personale.</p>
                            </div>
                        </article>

                        <!-- Ev6 -->
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/Content/assets/img/blog/tineri.jpg" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>08</h3>
                                    <p>Iunie</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="~/Blog/Ev6">
                                    <h2 class="blog-head">Programul Municipal de Dezvoltare Personală a Tinerilor</h2>
                                </a>
                                <p>Inițiativă locală care oferă traininguri și mentorat pentru tineri.</p>
                            </div>
                        </article>

                        <!-- Ev8 -->
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/Content/assets/img/blog/nutritie.jpg" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Iunie</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="~/Blog/Ev8">
                                    <h2 class="blog-head">Forumul de Nutriție și Dietetică</h2>
                                </a>
                                <p>Eveniment profesional dedicat nutriționiștilor și specialiștilor în dietetică.</p>
                            </div>
                        </article>

                        <!-- Ev9 -->
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/Content/assets/img/blog/resurseumane.jpg" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>22</h3>
                                    <p>Iunie</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="~/Blog/Ev9">
                                    <h2 class="blog-head">HR Academy: Training of HR Specialists</h2>
                                </a>
                                <p>Sesiuni de formare pentru specialiști în resurse umane, cu studii de caz și workshopuri.</p>
                            </div>
                        </article>

                        <!-- Ev10 -->
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/Content/assets/img/blog/digital.jpg" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>30</h3>
                                    <p>Iunie</p>
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="~/Blog/Ev10">
                                    <h2 class="blog-head">Moldova Digital Summit 2025</h2>
                                </a>
                                <p>Conferință de top despre inovație digitală și transformare tehnologică.</p>
                            </div>
                        </article>

                        <!-- Paginare -->
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="~/Blog/Index" class="page-link" aria-label="Previous"><i class="ti-angle-left"></i></a>
                                </li>
                                <li class="page-item"><a href="~/Blog/Index" class="page-link">1</a></li>
                                <li class="page-item active"><a href="~/Blog/Evpag2" class="page-link">2</a></li>
                                <li class="page-item"><a href="~/Blog/Evpag3" class="page-link">3</a></li>
                                <li class="page-item">
                                    <a href="~/Blog/Evpag3" class="page-link" aria-label="Next"><i class="ti-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>

                <!-- Sidebar -->
                <!-- Sidebar -->
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control"
                                               placeholder="Search Keyword"
                                               onfocus="this.placeholder=''"
                                               onblur="this.placeholder='Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btns" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Search</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Categorii</h4>
                            <ul class="list cat-list">
                                <li><a href="#" class="d-flex justify-content-between"><p>Domenii tehnice & IT</p></a></li>
                                <li><a href="#" class="d-flex justify-content-between"><p>Arte & Design</p></a></li>
                                <li><a href="#" class="d-flex justify-content-between"><p>Științe exacte</p></a></li>
                                <li><a href="#" class="d-flex justify-content-between"><p>Business & Marketing</p></a></li>
                                <li><a href="#" class="d-flex justify-content-between"><p>Dezvoltare personală</p></a></li>
                                <li><a href="#" class="d-flex justify-content-between"><p>Cursuri Practice & Hobby-uri</p></a></li>
                            </ul>
                        </aside>

                        <!-- Evenimente Notabile -->
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title" style="color: #2d2d2d;">Evenimente Notabile</h3>
                            <!-- Exemplu post -->
                            <div class="media post_item">
                                <img class="test" src="~/Content/assets/img/post/post_1.png" alt="post">
                                <div class="media-body">
                                    <a href="/Blog/EvNotabil1"><h3 style="color: #2d2d2d;">Recunoaștere Tekwill în fiecare școală</h3></a>
                                    <p>5 Februarie, 2025</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img class="test" src="~/Content/assets/img/post/profesori.jpg" alt="post">
                                <div class="media-body">
                                    <a href="/Blog/EvNotabil2"><h3 style="color: #2d2d2d;">Investim în profesori</h3></a>
                                    <p>19 Februarie, 2025</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img class="test" src="~/Content/assets/img/post/eradigitala.png" alt="post">
                                <div class="media-body">
                                    <a href="/Blog/EvNotabil3"><h3 style="color: #2d2d2d;">Copiii în era digitală</h3></a>
                                    <p>18 Decembrie, 2024</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img class="test" src="~/Content/assets/img/post/romold.jpg" alt="post">
                                <div class="media-body">
                                    <a href="/Blog/EvNotabil4"><h3 style="color: #2d2d2d;">Colaborare România – Moldova</h3></a>
                                    <p>23 Octombrie, 2024</p>
                                </div>
                            </div>
                        </aside>

                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Taguri populare</h4>
                            <ul class="list">
                                <li><a href="#">programare</a></li>
                                <li><a href="#">design</a></li>
                                <li><a href="#">marketing</a></li>
                                <li><a href="#">blogging</a></li>
                                <li><a href="#">psihologie</a></li>
                                <li><a href="#">public speaking</a></li>
                                <li><a href="#">muzică</a></li>
                                <li><a href="#">fotografie</a></li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>
                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter email" required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn" type="submit">Subscribe</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog & Sidebar End -->
</main>

    @Html.Partial("_Footer")

    <div id="back-top">
        <a title="Go to Top" href="#"><i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS Scripts -->
    <script src="~/Content/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/jquery.slicknav.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/animated.headline.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.js"></script>
    <script src="~/Content/assets/js/gijgo.min.js"></script>
    <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/assets/js/jquery.sticky.js"></script>
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <script src="~/Content/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Content/assets/js/hover-direction-snake.min.js"></script>
    <script src="~/Content/assets/js/contact.js"></script>
    <script src="~/Content/assets/js/jquery.form.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/mail-script.js"></script>
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

    @Scripts.Render("~/Scripts/js")
</body>
</html>
