@{ Layout = null;
    ViewBag.Title = "Index";
}

@using System.Web.Optimization
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Courses | Education</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="~/Content/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/img/favicon.ico">
    @Styles.Render("~/Content/assets/scss")
    @Styles.Render("~/Content/assets/css")

</head>

<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/Content/assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    @Html.Partial("_Header")
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Cursuri</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="~/Home/Index">Acasă</a></li>
                                            <li class="breadcrumb-item"><a href="#">Servicii</a></li>
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Courses area start -->
        <div class="courses-area section-padding40 fix">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Cele mai apreciate cursuri ale noastre</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Croitorie -->
                    <div class="col-lg-4">
                        <div class="properties properties2 mb-30">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="~/Content/assets/img/gallery/test3.JFIF" alt=""></a>
                                </div>
                                <div class="properties__caption">
                                    <p>CROITORIE</p>
                                    <h3><a href="~/Courses/Index">Bazele croitoriei pentru începători</a></h3>
                                    <p class="webkit-line">
                                        Visezi să înveți să coși? Acest curs te va ghida pas cu pas, învățându-te cum să iei măsurători corecte, să folosești mașina de cusut și să creezi piese vestimentare profesionale. Indiferent de nivelul tău, vei învăța tehnici esențiale pentru a transforma pasiunea în abilitate!
                                    </p>
                                    <div class="properties__footer d-flex justify-content-between align-items-center">
                                        <div class="restaurant-name">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                            <p><span>(4.5)</span> 75 de recenzii</p>
                                        </div>
                                        <div class="price">
                                            <span>750 lei</span>
                                        </div>
                                    </div>
                                    <a href="~/Courses/curs1" class="border-btn border-btn2">Află mai multe!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Matematica -->
                    <div class="col-lg-4">
                        <div class="properties properties2 mb-30">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="~/Content/assets/img/gallery/test4.jfif" alt=""></a>
                                </div>
                                <div class="properties__caption">
                                    <p>MATEMATICĂ</p>
                                    <h3><a href="~/Courses/Index">Lecții de matematică pentru elevi și liceeni</a></h3>
                                    <p class="webkit-line">
                                        Sunt un student olimpic în matematică și sunt gata să te ajut să înțelegi concepte complicate! Lecțiile sunt personalizate, adaptându-se nivelului tău de înțelegere, fie pentru examene, fie pentru performanțe mai bune. Îți voi oferi metode eficiente și explicații detaliate pentru a-ți îmbunătăți înțelegerea matematicii!
                                    </p>
                                    <div class="properties__footer d-flex justify-content-between align-items-center">
                                        <div class="restaurant-name">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                            <p><span>(4.5)</span> 125 de recenzii</p>
                                        </div>
                                        <div class="price">
                                            <span>1200 lei</span>
                                        </div>
                                    </div>
                                    <a href="~/Courses/curs2" class="border-btn border-btn2">Află mai multe</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Șah -->
                    <div class="col-lg-4">
                        <div class="properties properties2 mb-30">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="~/Content/assets/img/gallery/test1.JFIF" alt=""></a>
                                </div>
                                <div class="properties__caption">
                                    <p>ȘAH</p>
                                    <h3><a href="~/Courses/Index">Mentorat în șah de la un fost campion</a></h3>
                                    <p class="webkit-line">
                                        Dacă îți dorești să devii un jucător de șah mai bun, sunt aici pentru a-ți împărtăși din experiența mea de fost campion! Vom lucra la strategii avansate, tactici complexe și dezvoltarea unei gândiri strategice pentru a te ajuta să te pregătești pentru competiții și să îți îmbunătățești jocul.
                                    </p>
                                    <div class="properties__footer d-flex justify-content-between align-items-center">
                                        <div class="restaurant-name">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                            <p><span>(4.5)</span> 47 de recenzii</p>
                                        </div>
                                        <div class="price">
                                            <span>999 lei</span>
                                        </div>
                                    </div>
                                    <a href="~/Courses/curs3" class="border-btn border-btn2">Află mai multe</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Limba engleză -->
                    <div class="col-lg-4">
                        <div class="properties properties2 mb-30">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="~/Content/assets/img/gallery/test5.jfif" alt=""></a>
                                </div>
                                <div class="properties__caption">
                                    <p>LIMBA ENGLEZĂ</p>
                                    <h3><a href="~/Courses/Index">Lecții de limba engleză pentru copii (4-10 ani)</a></h3>
                                    <p class="webkit-line">
                                        Învață limba engleză într-un mod jucăuș și interactiv! Lecțiile sunt concepute pentru copii între 4 și 10 ani, folosind jocuri, cântece și activități creative pentru a învăța vocabularul și a dezvolta încrederea în vorbirea limbii engleze. Lecțiile sunt structurate pentru a face învățarea amuzantă și ușor de înțeles.
                                    </p>
                                    <div class="properties__footer d-flex justify-content-between align-items-center">
                                        <div class="restaurant-name">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                            <p><span>(4.5)</span> 32 de recenzii</p>
                                        </div>
                                        <div class="price">
                                            <span>800 lei</span>
                                        </div>
                                    </div>
                                    <a href="~/Courses/curs4" class="border-btn border-btn2">Află mai multe!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- UI/UX Design -->
                    <div class="col-lg-4">
                        <div class="properties properties2 mb-30">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="~/Content/assets/img/gallery/featured6.png" alt="UI/UX Design"></a>
                                </div>
                                <div class="properties__caption">
                                    <p>UI/UX DESIGN</p>
                                    <h3><a href="~/Courses/Index">Curs de UI/UX Design pentru Începători</a></h3>
                                    <p class="webkit-line">
                                        Începe să înveți despre designul de interfețe și experiența utilizatorului! Acest curs oferă un ghid complet pentru începători, unde vei învăța despre culori, tipografie, wireframing și prototipurile interactive. Lecțiile sunt focusate pe aplicarea imediată a noțiunilor de design pentru a crea interfețe intuitive și eficiente.
                                    </p>
                                    <div class="properties__footer d-flex justify-content-between align-items-center">
                                        <div class="restaurant-name">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                            <p><span>(4.7)</span> 45 de recenzii</p>
                                        </div>
                                        <div class="price">
                                            <span>2500 lei</span>
                                        </div>
                                    </div>
                                    <a href="~/Courses/curs5" class="border-btn border-btn2">Află mai multe!</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Python -->
                    <div class="col-lg-4">
                        <div class="properties properties2 mb-30">
                            <div class="properties__card">
                                <div class="properties__img overlay1">
                                    <a href="#"><img src="~/Content/assets/img/gallery/python.jpg" alt="Python"></a>
                                </div>
                                <div class="properties__caption">
                                    <p>PYTHON PROGRAMMING</p>
                                    <h3><a href="~/Courses/Index">Curs de Python pentru Începători</a></h3>
                                    <p class="webkit-line">
                                        Învață să programezi în Python, unul dintre cele mai populare și accesibile limbaje! Acest curs este destinat celor care doresc să învețe sintaxa Python, să înțeleagă structurile de date și să aplice principiile programării orientate pe obiecte. Lecțiile sunt interactive, astfel încât să poți aplica cunoștințele în proiecte reale.
                                    </p>
                                    <div class="properties__footer d-flex justify-content-between align-items-center">
                                        <div class="restaurant-name">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half"></i>
                                            </div>
                                            <p><span>(4.8)</span> 60 de recenzii</p>
                                        </div>
                                        <div class="price">
                                            <span>4000 lei</span>
                                        </div>
                                    </div>
                                    <a href="~/Courses/curs6" class="border-btn border-btn2">Află mai multe!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mt-40">
                            <a href="#" class="border-btn">Load More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Courses area End -->
        <!--? top subjects Area Start -->
        <div class="topic-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Subiecte de top</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="/Content/assets/img/gallery/test6.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Olărit</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="/Content/assets/img/gallery/test7.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Limbi străine</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="/Content/assets/img/gallery/test8.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Matematică</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/test9.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Ore de muzică</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/topic5.png" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Programare</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/test10.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Gătit</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/test11.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Ore de dans</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img class="top-subjects-images" src="~/Content/assets/img/gallery/test12.jfif" alt="">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#">Grădinărit</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-12">
                        <div class="section-tittle text-center mt-20">
                            <a href="/Courses/Index" class="border-btn">Vezi mai multe subiecte</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- top subjects End -->
        <!-- ? services-area -->
        <div class="services-area services-area2 section-padding40">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="~/Content/assets/img/icon/icon1.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Diversitate de skilluri</h3>
                                <p>Zeci de domenii, o singură platformă.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="~/Content/assets/img/icon/icon2.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Conectează-te cu experți</h3>
                                <p>Colaborează cu persoane talentate și cu experiență.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="~/Content/assets/img/icon/icon3.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Acces nelimitat</h3>
                                <p>Rămâi conectat oricând la oportunități.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    @Html.Partial("_Footer")
    <!-- Scroll Up -->
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <script src="~/Content/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content/assets/js/wow.min.js"></script>
    <script src="~/Content/assets/js/animated.headline.js"></script>
    <script src="~/Content/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="~/Content/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="~/Content/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/assets/js/jquery.sticky.js"></script>
    <!-- Progress -->
    <script src="~/Content/assets/js/jquery.barfiller.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="~/Content/assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/assets/js/waypoints.min.js"></script>
    <script src="~/Content/assets/js/jquery.countdown.min.js"></script>
    <script src="~/Content/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="~/Content/assets/js/contact.js"></script>
    <script src="~/Content/assets/js/jquery.form.js"></script>
    <script src="~/Content/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/assets/js/mail-script.js"></script>
    <script src="~/Content/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/main.js"></script>

    @Scripts.Render("~/Scripts/js")

</body>
</html>
